/* Copyright (C) 2020-2024 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
    background:     #0d1117;
    background-alt: #39404f;
    foreground:     #B9BDC4;
    selected:       #13CADA;
    active:         #A3BE8C;
    urgent:         #BF616A;
}
